# {{ ansible_managed }}
# edb-as-10.sysconfig

# for documentation of all options, see:
#   https://www.enterprisedb.com/docs/en/10.0/EPAS_Inst_Guide_v10/toc.html

PGENGINE="{{ enterprisedb_PGENGINE }}"
PGPORT="{{ enterprisedb_PGPORT }}"
PGDATA="{{ enterprisedb_PGDATA }}"
PGLOG="{{ enterprisedb_PGLOG }}"
