# {{ ansible_managed }}

install cramfs /bin/true    # CIS 1.1.1.1
install freevxfs /bin/true  # CIS 1.1.1.2
install jffs2 /bin/true     # CIS 1.1.1.3
install hfs /bin/true       # CIS 1.1.1.4
install hfsplus /bin/true   # CIS 1.1.1.5
install squashfs /bin/true  # CIS 1.1.1.6
install udf /bin/true       # CIS 1.1.1.7
install vfat /bin/true      # CIS 1.1.1.8

install dccp /bin/true      # CIS 3.5.1
install sctp /bin/true      # CIS 3.5.2
install rds /bin/true       # CIS 3.5.3
install tipc /bin/true      # CIS 3.5.4
