# Configuration file for the httpd service.

#
# The default processing model (MPM) is the process-based
# 'prefork' model.  A thread-based model, 'worker', is also
# available, but does not work with some modules (such as PHP).
# The service must be stopped before changing this variable.
#
{% if apache_mpm_mode == 'worker' %}
HTTPD=/usr/sbin/httpd.worker
{% elif apache_mpm_mode == 'event' %}
HTTPD=/usr/sbin/httpd.event
{% else %}
#HTTPD=/usr/sbin/httpd.worker
{% endif %}

#
# To pass additional options (for instance, -D definitions) to the
# httpd binary at startup, set OPTIONS here.
#
#OPTIONS=

#
# By default, the httpd process is started in the C locale; to 
# change the locale in which the server runs, the HTTPD_LANG
# variable can be set.
#
#HTTPD_LANG=C

#
# By default, the httpd process will create the file
# /var/run/httpd/httpd.pid in which it records its process
# identification number when it starts.  If an alternate location is
# specified in httpd.conf (via the PidFile directive), the new
# location needs to be reported in the PIDFILE.
#
#PIDFILE=/var/run/httpd/httpd.pid

# EIS has added this section at the direction of Infosec's TLS Best
# Practices Guide to further protect against RH Bug 857051
export OPENSSL_NO_DEFAULT_ZLIB=1
