# Managed by ansible, please don't edit by hand

accesskeyid="{{ apache_sigsci_accesskeyid }}"
secretaccesskey="{{ apache_sigsci_secretkey }}"
rpc-address="unix:{{ apache_sigsci_socket_dir }}/{{apache_sigsci_socket_file}}"
log-out="{{ apache_sigsci_log_dir }}/{{ apache_sigsci_log_file }}"

